# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here! 
sphinx>=3.2.1
numba
pint
matplotlib
numpy
pandas
scipy
psutil
IPython
sphinx_rtd_theme
pyCO2SYS
importlib-metadata
-e .
